/* nav related styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 75px;
}

/* h1 styles */
h1 {
    
    font-weight: bolder;
}
/* name span style */
.islam{
    color: orange;
}
nav li {
    list-style: none;
    display: inline;
    margin: 20px;
    color: gray;
}
/* nav button style */
.nav-button{
    background: orange;
    padding: 18px 35px;
    border: 0px;
    border-radius: 7px;
    font-weight: 800;
    color: white;
    font-size: larger;
}
/* Header related styles */
.header{
    background-color: bisque;
    background-image: url('../webdeveloper-portfolio/images/header_bg.png') ;
    background-repeat: no-repeat;
    background-position: bottom right;
   
}
/* banner styles */
.banner{
    padding: 30px 40px 0px 100px;
    align-items: center;
    display: flex;
}
/* main section styles */
/* About section styles */
.about{
    border-radius: 10px;
    padding: 130px;
    background-color: #FFF8F3;
    margin:130px ;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about-info{
    text-align: center;
}
.section-title{
   text-align: center;
   font-size: 50px;
   font-family: monospace;
}
.section-description{
  text-align: center;
  color: #443f3c;
  font-size: 18px;
  font-family: sans-serif;
}